@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poiret',sans-serif;
}
body
{
    overflow: hidden;
}
/* navigation bar */
#spatxt
{
    color: yellow;
}
.nav
{
    position: relative;

    float: left;
}
#pizza
{
    font-size: 35px;
    font-weight: normal;
    color: darkorange;
}
li
{
    display: inline;
    margin-right: 20px;
}

/* HERO SECTION */
.exp
{
    color: yellow;
}

/* button */
.h-buttons
{
    margin-top: 90px;
    margin-bottom: 100px;
}
.h-buttons button
{
    border-radius: 40px;
    color: #000;
}

/* WELCOME PAGE */
.menu-btn
{
    border-radius: 20px;
    margin-top: 20px;
    color: #000;
}
figcaption
{
    font-family: 'Poiret', sans-serif;
}
#menus
{
    padding-top: 20px;
}